.body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

/* General CSS Classes */
.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none
}

#navbar {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: #000000; /*#172C3E; /* #253746;*/
  border-bottom: 1px solid seashell;/*#F0F8FF;*/
  position: fixed;
  top: 0;
  margin: 0 auto;
}

.nav-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-section a {
  color: #ffffff;
  font-size: 1.1rem;
  padding: 1rem;
}

.nav-section a:hover {
  color: #C71585;
}

#welcome-section {
  height: auto;
  background-color: #101316;/*#13191E; /*#10212F; /*#204564; /*#21415D;*/
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 115px 0 30px 0;
}

.introduction {
  padding-bottom: 1.5rem;
  font-size: 1rem;
  font-family: Raleway;
}

.personal-information .name {
  padding-bottom: 3rem;
  font-size: 1.5rem;
  font-family: Raleway;
  color: #C71585;
}

.personal-information .title {
  font-size: 1rem;
  font-family: Raleway;
}

.skills {
  display: flex;
  padding-left: 40px;
}

.skill-list {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

.skill-list ul {
  color: #ffffff;
}

.skill-list li {
  list-style-type: circle;
  font-size: 1rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
}

#works {
  width: 100%;
  height: auto; /*56rem;*/
  background-image: url("../images/footer-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000000; /*#3C454C; /*#C0C0C0; /*#F0F8FF;*/
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 3rem;
  align-items: center;
}

.work-header {
  font-size: 2rem;
  color: seashell;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

#projects {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  max-width: 90%;
}

.project {
  width: 100%;
  background-color: #2F2F2F;
  color: seashell;
  border: 2px solid seashell;
  margin-bottom: 2rem;
}

.project:hover .project-heading {
  text-decoration: underline;
  color: #C71585;
}

.project-image img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid seashell;
  object-fit: cover;
}

.project-desc {
  min-height: 142.6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-heading {
  font-size: 1.3rem;
  padding-top: 0.5rem;
}

.technologies {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-size: 1rem;
  color: #B0B0B0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.technologies-heading {
  padding: 1rem 2rem;
  align-items: flex-start;
  font-size: 1.1rem;
  color: #eeeeee;
  text-align: center;
}

.technologies ul {
  display: flex;
  justify-content: flex-start;
  padding-left: 2.5rem;
  padding-right: 1rem;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}
.technologies ul li {
  list-style-type: circle;
  font-size: 0.9rem;
  padding-top: 0.1rem;
  padding-right: 1.3rem;
}

.more-projects-link {
  color: seashell;
  font-size: 1.2rem;
  background-color: #2F2F2F;
  padding: 0.5rem 0.5rem;
  border: 1px solid seashell;
}

.more-projects-link:hover{
  border-color: #C71585;
  color: #C71585;
}

#contact {
  width: 100%;
  height: auto;
  background-color: #101316;
  color: seashell;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.contact-heading {
  font-size: 2rem;
}

.contact-section {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 3rem;
}

.contact-section a {
  color: #F8F8FF;
  font-weight: bold;
  font-size: 1.5rem;
}

.contact-paragraph {
  font-size: 1.3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.circle-bg {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid seashell;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 1rem;
}

.circle-bg:hover {
  border-color: #C71585;
  cursor: pointer;
}

.circle-bg:hover a{
  color: #C71585;
  cursor: pointer;
}

.contact-section a:hover {
  color: #C71585;
  cursor: pointer;
}

#footer {
  width: 100%;
  height: 4rem;
  background-color: #000000;
  color: seashell;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid seashell;
}

@media screen and (min-width: 580px) {
  #projects {
    max-width: 95%;
    justify-content: flex-start;
  }

  .project {
    width: 47%;
  }  

  .project:nth-child(odd) { 
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .personal-information .title {
    font-size: 2rem;
  }

  .introduction {
    font-size: 2rem;
  }

  .personal-information .name {
    font-size: 2.5rem;
  }

  .nav-section a {
    padding: 1rem 2rem;
  }

  .project:nth-child(odd) { 
    margin-right: 20px;
  }

  .project {
    width: 48%;
  } 

  .more-projects-link {
    padding: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav-section a {
    padding:  1rem 3rem;
  }

  .project {
    width: 30%;
    margin-right: 30px;
  }

  .project:nth-child(odd) { 
    margin-right: 30px;
  }

  .project:nth-child(3n) { 
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .nav-section a {
    padding: 1rem 4rem;
  }

  .personal-information .title {
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }

  .introduction {
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }

  .personal-information .name {
    font-size: 3rem;
    padding-bottom: 2rem;
  }
}
