.body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}

.site-container {
  width: 90rem;
  margin: 0px auto;
}

/* General CSS Classes */
.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none
}

#page-header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: black; /*#172C3E; /* #253746;*/
  border-bottom: 1px solid seashell;/*#F0F8FF;*/
  /*position: fixed;*/
  margin: 0 auto;
}

.nav-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-section a {
  color: #ffffff;
  font-size: 1.1rem;
  padding: 4rem;
}

#about {
  width: 100%;
  height: 45rem;
  background-color: #101316;/*#13191E; /*#10212F; /*#204564; /*#21415D;*/
}

.personal-information {
  width: 100%;
  height: 45rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personal-information .name {
  padding-bottom: 3rem;
  font-size: 3rem;
  font-family: Raleway;
}

.personal-information .title {
  padding-bottom: 3rem;
  font-size: 2.5rem;
  font-family: Raleway;
}

.contact-section {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.contact-section a {
  color: #F8F8FF;
  font-weight: bold;
  font-size: 1.5rem;
}

.circle-bg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
}

.skills {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.skill-list {
  display: flex;
  padding-right: 2rem;
  flex-direction: column;
}

.skill-list ul {
  color: #ffffff;
}

.skill-list li {
  list-style-type: circle;
  font-size: 1rem;
  padding-bottom: 1rem;
}

#works {
/*  width: 100%;*/
  height: 50rem;
  background-image: url("../images/footer-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000000; /*#3C454C; /*#C0C0C0; /*#F0F8FF;*/
  display: flex;
  flex-direction: column;
  text-align: center;
}

.work-header {
  font-size: 2rem;
  color: seashell;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

.projects {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  width: 25%;
  height: 17.5rem;
  background-color: #2F2F2F;
  color: seashell;
  margin-right: 3rem;
  border: 2px solid seashell;
}

.project-image img {
  width: 100%;
  height: 180px;
  border-bottom: 1px solid seashell;
}

.project-heading {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.technologies {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  color: #B0B0B0;
  flex-wrap: wrap;
}

.technologies-heading {

}

.technologies ul {

}
.technologies ul li {
  list-style-type: circle;

}
/*#welcome-section {
  width: 100%;
  height: 50rem;

}

.personal-information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.personal-information span {
  font-weight: bold;
  font-family: Raleway;
  color: #000000;
}

.contact-section a {
  color: #000000;
  font-weight: bold;
}*/
